.App {
  text-align: center;
}

body{
  position: relative;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate1{
  animation-duration: 1s; /* don't forget to set a duration! */
  animation-delay: 0.1s;
}
.animate2{
  animation-duration: 1.15s; /* don't forget to set a duration! */
  animation-delay: 0.3s;
}
.animate3{
  animation-duration: 1.3s; /* don't forget to set a duration! */
  animation-delay: 0.1s;
}
.animate4{
  animation-duration: 1.45s; /* don't forget to set a duration! */
  animation-delay: 0.5s;
}
.animate5{
  animation-duration: 1.6s; /* don't forget to set a duration! */
  animation-delay: 0.4s;
}
.animate6{
  animation-duration: 1.75s; /* don't forget to set a duration! */
  animation-delay: 0.2s;
}
.animate7{
  animation-duration: 1.9s; /* don't forget to set a duration! */
  animation-delay: 0.3s;
}
.hamburger-react{
  display: none;
}
@media screen and (max-width: 850px){
  .App{
    flex-direction: column !important;
  }
  nav{
    width: 100vw !important;
    height: unset !important;
    margin-bottom: 1rem;
    position: relative !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 1rem !important;
    z-index: 100 !important;
    
  }
  .navbar-brand img{
    display:none
  }
  .slideToggle{
    display: none;
  }
  .navbar > .navbar-nav{
    background-color: white;
    margin-bottom: 1rem;
  }
  .mainPage{
    width: 100vw !important;
  }
  .mainPage .card-img{
    height: 50vh !important;
    padding: 0 !important;
  }
  .hamburger-react{
    display: block !important;
  }
  .copyright{
    display: none !important;
  }
  .sideSearch{
    display: none !important;
  }
  .row{
    justify-content: center;
  }
  .vironMobile{
    display:block !important
  }
}
/* ::selection{
  color:teal;
  background-color: teal;
} */